.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 46px 0;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tel {
    text-decoration: none;
    color: $gray;
    transition: 0.3s ease;
    font-weight: 500;
    letter-spacing: 0.08rem;

    &:hover {
      color: $orange;
    }
  }
}

.header-cart {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 77px;

  &__button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $orange;
    border: none;
    border-radius: 100%;
    background-image: url("../../../img/cart.svg");
    background-repeat: no-repeat;
    background-size: 1rem 0.87rem;
    background-position: center center;
  }

  &__count {
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 0.5rem;
    color: $white;
  }
}

.logo {
  background-image: url(../../../img/logo.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 32px;
  margin-right: 120px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 48px;
  }

  &__link {
    text-decoration: none;
    color: $gray;
    transition: 0.3s ease;

    &:hover {
      color: $orange;
    }
  }
}