@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}

body {
  font-family: 'Jost', sans-serif;
  color: $gray;
  overflow-x: hidden;
}

.title {
  font-family: 'Cormorant', serif;
  font-size: 5rem;
  line-height: 1;

  span {
    font-style: italic;
  }
}

.btn {
  display: inline-block;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.46rem 2.68rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 11.2px 1.8px rgba(207, 92, 13, 0.2);
  letter-spacing: 0.075rem;
  transition: 0.2s ease;

  &:hover {
    background-color: $orangeHover;
  }
}

.ml {
  margin-left: 7.6rem;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-main {
  position: relative;
  background-image: url(../img/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;

  &__image {
    position: absolute;
  }

  &__tomato {
    right: 113px;
    bottom: 134px;
  }

  &__avocado {
    top: 50px;
    right: -20px;
  }

  &__cucumber {
    top: 0;
    left: 36%;
  }

  &__pepper {
    top: 400px;
    left: 32px;
  }

  &__beans {
    bottom: 170px;
    left: -5px;
  }

  .main {
    display: flex;
    justify-content: space-between;

    &-text {
      flex: 0 0 40%;
      padding-top: 192px;

      &__desc {
        font-size: 1.12rem;
        line-height: 1.5;
        margin: 63px 0 53px 0;
      }
    }

    &-visiual {
      border: 1px solid rgba($gray, $alpha);
      border-radius: 100%;
      padding: 54px;
      position: relative;

      &__image {
        border: 1px solid rgba($gray, $alpha);
        border-radius: 100%;
        padding: 24px;

        img {
          box-shadow: 15px 48px 42px 0px rgba($gray, $alpha);
          border-radius: 100%;
        }
      }

      &__btn {
        background-color: transparent;
        border: none;
        color: rgba($gray, 0.8);
        text-align: left;
        position: absolute;

        span {
          color: rgba($gray, 1);
          display: block;
          margin-top: 7px;
        }

        &::before {
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 100%;
          background-color: $gray;
          box-shadow: 0 0 0 4px #fff, 0 0 0 5px $gray;
          position: absolute;
        }

        &:focus {
          outline: none;

          &::before {
            background-color: $orange;
            box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
          }
        }
      }

      &__01 {
        top: 48px;
        left: 63px;

        &::before {
          top: 17px;
          left: 92px;
        }
      }

      &__02 {
        top: 196px;
        right: -5px;

        &::before {
          top: 18px;
          left: -17px;
        }
      }

      &__03 {
        bottom: -43px;
        right: 236px;

        &::before {
          top: -22px;
          left: 21px;
        }
      }
    }
  }
}

.section-stock {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 154px;

  &__text {
    font-size: 1.5rem;
    line-height: 1.5;
    color: $gray;
    max-width: 690px;
    margin-top: 3.62rem;
  }
}

.slider {
  margin-top: 90px;

  &-child {
    padding: 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &-item {
    border: 1px solid rgba($gray, $alpha);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 520px;
    position: relative;
    padding: 2.75rem 2.35rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgba($gray, 0);
    transition: 0.3s ease;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 0 2px rgba($gray, $alpha);
    }

    &:hover {
      .slider-text {
        transform: translate(0, 0);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: 0.3s ease;
    }

    &:hover::before {
      background-color: rgba($white, 0.55);
    }
  }

  &-milk {
    background-image: url(../img/stock/milk.png);
  }

  &-noodles {
    background-image: url(../img/noodles.png);
  }

  &-steaks {
    background-image: url(../img/steaks.png);
  }

  &-text {
    max-width: 58%;
    position: absolute;
    bottom: 2.75rem;
    left: 2.55rem;
    transform: translate(0, 240px);
    transition: 0.3s ease;

    &__title {
      font-size: 1.87rem;
      font-weight: 700;
      font-family: 'Cormorant', serif;
      color: $gray;
      margin-bottom: 25px;
    }

    &__desc {
      line-height: 1.5;
      color: rgba($gray, 0.7);
      margin-bottom: 40px;
    }

    &__link {
      position: relative;
      display: block;
      font-weight: 500;
      letter-spacing: 1.28px;
      color: $gray;
      opacity: 0.8;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 50px;
      transition: 0.3s ease;

      &:hover {
        opacity: 1;
        padding-left: 45px;
      }

      &:focus {
        outline: none;
      }

      &::before {
        content: '';
        background-image: url(../img/plus.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        position: absolute;
        top: calc(50% - 0.93rem);
        left: -1px;
        width: 1.875rem;
        height: 1.875rem;
      }
    }
  }
}


.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: -60px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  text-indent: -99999px;
  width: 10px;
  height: 18px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.slick-prev {
  right: 75px;
  background-image: url(../img/arrow-prev.svg);
}

.slick-next {
  right: -7px;
  background-image: url(../img/arrow-next.svg);
}

.section-advantage {
  background-image: url(../img/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-advantage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 67px;
  &-item{
    flex: 0 0 49%;
  }

  &__text {
    font-size: 1.12rem;
    line-height: 1.5;
  }
}

.box-advantage-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-align: center;

  &__item {
    font-family: 'Cormorant', serif;
    font-size: 1.87rem;
    font-weight: 700;
    font-style: italic;
    margin-left: 85px;

    span {
      display: block;
      width: 87px;
      height: 87px;
      border: 1px solid rgba($gray, $alpha);
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 10px;
    }
  }

  &__health {
    span {
      background-size: 40px 40px;
      background-image: url(../img/health.svg);
    }
  }

  &__traditions {
    span {
      background-size: 40px 40px;
      background-image: url(../img/traditions.svg);
    }
  }

  &__taste {
    span {
      background-size: 40px 40px;
      background-image: url(../img/taste.svg);
    }
  }
}